@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.col-lg-8, .col-sm-12, .col-xs-12{
	padding-left: 0px;
	padding-right: 0px;
}
.row {
    padding-top: 0;
    padding: 2rem 0;
    margin: 0 auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body, html{
    background-color: #2b2d42;
}
#container{
	background-color: #fafafa;
}
.img-responsive {
    width: 80%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;   
}
.project-p{
	margin: 1rem 0 1rem 0;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
	font-size: 2rem;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
}
.centerdiv{
    margin: 0 auto;
}
.btn-page-1 {
  color: black;
}
.btn-projekt{
width:11rem;
}
.h1-padding{
    padding-top: 0px;
}
figure{
    padding-top: 0;
    padding-bottom: 6rem;
}