@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.col-lg-8, .col-sm-12, .col-xs-12{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.row {
    text-align: center;
    padding: 35px 0;
    margin: 0 auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body, html{
    background-color: #2b2d42;
}
.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
	background-color: #fafafa;
}
.row img{
    margin: 0 auto;
    width: 80%;
    max-width: 669px;
    max-height: 490px;
    left: 50%;
}
.orange-line{
    margin:0 auto;
}