@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');

@mixin side-padding() {
	padding-left: 0px;
	padding-right: 0px;
}

@mixin side-margin() {
	margin-left: 0px;
	margin-right: 0px;
}

@mixin Robo-font() {
	font-family: "Roboto";
	font-weight: 300;
}

@mixin page-specs() {
	height: 83rem;
	padding: 0 0;
}

@mixin img-specs() {
	width: 100%;
	margin: 0 auto;
}

@mixin img-width() {
	width: 100%;
}

@mixin links() {
	cursor: pointer;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: #2b2d42;
}

.col-lg-8, .col-sm-12, .col-xs-12{
	@include side-padding;
}

.container {
	@include side-padding;
}

.row {
	@include side-margin;
}

#containercolor{
	background-color: #f2f2f2;
}

/*PARAGRAPH CLASS FOR PAGE 2,3 & 5*/
.page-2-p, .page-3-p, .page-5-p{
	@include Robo-font;
	margin: 2rem 0 0 0;
	font-size: 1.2rem;
	text-align: center;
	padding: 0 1.5rem 0 1.5rem;
}

.page-1 {
	background-image: url("../img/stockholm-sweden-winter-blur-lower.jpg");
	@include page-specs;
}

.page-1-opacity{
	position: relative;
	top:10rem;
	width: 80%;
	height: 80%;
	background-color: rgba(0,0,0,0.3);
	margin: 0 auto;
	margin-top: 0rem;
	border: 1px solid #b5b5b5;
}
.page-1-header {
	@include Robo-font;
	color: white;
	font-size: 2em;
	text-align: center;
	margin-top: 7rem;
}

.orange-line {
	width: 6rem;
	height: 0.2rem;
	background-color: #f26522;
	margin: 5rem auto;
}
.btn-page-1 {
	padding: 6px 12px;
	border: 2px solid #b5b5b5;
	background-color: rgba(0,0,0,0.0);
	font-size: 1em;
	width: 11rem;
	margin: 2rem auto;
	color: white;
	text-decoration: none;
}

/*PAGE-2*/
.page-2 {
	background-color: #ffffff;
	@include page-specs;
}

.page-h1-black {
	@include Robo-font;
	color: black;
	font-size: 2em;
	padding: 4rem 0.3em 0 0.3em;
	margin-top: 4rem;
	text-align: center;
}

.btn-page-2 {
	padding: 6px 12px;
	border: 2px solid #b5b5b5;
	background-color: rgba(0,0,0,0.0);
	font-size: 1em;
	width: 11rem;
	margin: 2rem auto;
	color: #000;
	text-decoration: none;
	text-align: center;
}

.btn-black {
	color:black !important;
	text-decoration: none;
}

/*PAGE-3*/

.page-3{
	background-color: #f2f2f2;
	@include page-specs;
}

.projectImg {
	@include img-specs;
	max-width: 670px;
	max-height: 480px;
	left: 50%;
}
.img-responsive{
	margin: 0 auto;
}

.responsiveImg{
	@include img-specs;
	max-width: 544px;
	max-height: 273px;
	left: 50%;
}

/*PAGE-4*/
.page-4{
	background-color: #fafafa;
	@include page-specs;
}
/* 
.p-div {
    width: 80%;
    height: 70%;
    background-color: rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 2rem;
} */

.page-p-white{
	@include Robo-font;
	margin: 2rem 0 0 0;
	font-size: 2rem;
	text-align: center;
	padding: 0 1.5rem 0 1.5rem;
	color: white;
}
.teamPic {
	@include img-width;
	max-width: 600px;
	max-height: 286px;
	margin: 2rem auto;
	left: 50%;
}

/*PAGE-5*/
.page-5{
	background-color: #f2f2f2;
	@include page-specs;
}
form{
	margin-top: 2rem;
}

.page-p-black{
	@include Robo-font;
	margin: 2rem 0 0 0;
	font-size: 2.5rem;
	text-align: center;
	padding: 0 1.5rem 0 1.5rem;
}

.form-control{
	max-width: 100%;
	max-height: 200px;
}
.btn-orange{
	padding: 6px 15px;
	border: 2px solid #000000;
	background-color: #f26522;
	margin: 1rem 0 0 0;
	color: white;
	text-decoration: none;
	@include Robo-font;
	float:right;
}

button, a {
	@include links;
}

