@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
	background-color: #2b2d42;
}
.col-lg-8, .col-sm-12, .col-xs-12{
	padding-left: 0px;
	padding-right: 0px;
}
#containercolor{
	background-color: #f2f2f2;
}

/*PARAGRAPH CLASS FOR PAGE 2,3 & 5*/
.page-2-p, .page-3-p, .page-5-p{
  margin: 2rem 0 0 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1.5rem 0 1.5rem;
}

/*PAGE-1*/

.page-1 {
  	background-image: url("img/stockholm-sweden-winter-blur-lower.jpg");
  	height: 83rem;
  	padding: 0 0;
}
.page-1-div{
	position: relative;
	top:10rem;
	width: 80%;
	height: 80%;
  	background-color: rgba(0,0,0,0.3);
  	margin: 0 auto;
  	margin-top: 0rem;
  	border: 1px solid #b5b5b5;
}
.page-1-title-h1 {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin-top: 7rem;
  padding: 0 0.3em 0 0.3em;
}
.orange-page-1 {
  width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin-top: 4rem;
}
.btn-page-1 {
  padding: 6px 12px;
  border: 2px solid #b5b5b5;
  background-color: rgba(0,0,0,0.0);
  font-size: 1em;
  width: 17%;
  margin: 0 auto;
  color: white;
  text-decoration: none;
}

/*PAGE-2*/

.page-2 {
    background-color: #ffffff;
    height: 83rem;
    padding: 0 0;
}

.page-2-title-h1 {
  color: #000000;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  padding: 4rem 0.3em 0 0.3em;
  margin: 0;
}
.orange-page-2 {
  width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin-top: 2rem;
}

.page-2 img {
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0 2em;
}

.btn-page-2 {
  padding: 6px 12px;
  border: 2px solid #b5b5b5;
  background-color: rgba(0,0,0,0.0);
  font-size: 1em;
  margin: 0 auto;
  color: #000000;
  text-decoration: none;
}

/*PAGE-3*/
.page-3 {
    background-color: #f2f2f2;
    height: 83rem;
    padding: 0 0;
}

.page-3-title-h1 {
  margin: 3rem 0 0 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 4rem 0.3em 0 0.3em;
}

.orange-page-3 {
  width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin-top: 2rem;
}


.projectImg{
 width:100%;
 padding: 0 2em;
 margin: 2rem 0 0 0;
}

.btn-page-3 {
  padding: 6px 15px;
  border: 2px solid #000000;
  background-color: rgba(0,0,0,0.0);
  margin: 1rem 0 0 0;
  color: black;
  text-decoration: none;
}


/*PAGE-4*/

.page-4 {
   background-color: teal;
    height: 83rem;
    padding: 0 0;
}

.page-4-title-h1 {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}
.p-div {
  width: 80%;
  height: 70%;
  background-color: rgba(0,0,0,0.3);
  margin: 0 auto;
  margin-top: 2rem;
}
.page-4-p {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  text-align: left;
  font-size: 1.1rem;
  padding: 0.5em 0.5em 0 0.5em;
}

.teamPic{
  padding-top:0.3rem;
  margin:0px auto;
  width:100%;
  max-width: 78rem;
}

.btn-page-4 {
  padding: 8px 25px;
  border: 2px solid #b5b5b5;
  background-color: rgba(0,0,0,0.0);
  margin: 1rem 0 0 0;
  color: black;
  text-decoration: none;
}

/*PAGE-5*/

.page-5 {
    background-color: #ffffff;
    height: 83rem;
    padding: 0 0;
}

.page-5-title-h1 {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding: 4rem 0 0 0;
}
.orange-page-5 {
  /*width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin: 2rem 0 0 0;*/
   width: 6rem;
  height: 0.2rem;
  background-color: #f26522;
  margin: 0 auto;
  margin-top: 2rem;
}
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact {
  width: 80%;
  height: 2rem;
  border: 1px solid #242424;
  margin: 2rem 0 0 0;
  padding-left:5px;

}

.txt-style {
  margin-top: 2rem;
  width: 80%;
  max-width: 80%;
  height:200px;
  max-height: 200px;
  border: 1px solid #242424;
  padding-left:5px;
}
.btn-page-5 {
  padding: 6px 15px;
  border: 2px solid #000000;
  background-color: #f26522;
  margin: 1rem 0 0 0;
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 300;
}
