<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XLNT-BOOT</title>
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/navcss.css" rel="stylesheet">
	  <link rel="icon" href="../img/xlnthead.png">
  </head>

  <body>
    <aside class="col-lg-2"></aside> 
    <div class="container col-lg-8 col-sm-12 col-xs-12">

          <div class="container-fluid" id="navXlnt">

      <nav class="navbar navbar-inverse navbar-fixed-top col-lg-8 col-sm-12 col-xs-12 centernav">

        <div class="navbar-header">
         <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a href="../index.html">  <img id="logoMenu" alt="xlntLogo" src="../img/xlnt-logo-official-new.png"></a>
       </div>

				<div class="collapse navbar-collapse js-navbar-collapse">
					<li class="liBoot"><a href="../index.html#hemScroll">Hem</a></li>
					<li class="liBoot"><a href="../index.html#responsivScroll">Responsiv design</a></li>
					<li class="liBoot"><a href="../index.html#tidigareScroll">Tidigare projekt</a></li>
					<li class="liBoot"><a href="../index.html#teamScroll">Vårat team</a></li>
					<li class="liBoot"><a href="../index.html#kontaktScroll">Kontakta oss</a></li>
					<ul class="dropdown-menu mega-dropdown-menu"></ul>
					</div><!-- /.nav-collapse -->
          </nav>
				</div> <!--container-fluid -->
      
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
            <h1 class="page-h1-black">Responsiv design</h1>
          </div>
        </div>
           <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
            <div class="orange-line"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
            <p class="page-p-black">
              Vi på XLNT Media vet hur viktigt det är att kunna komma åt information över allt, hur som helst med vad som helst.
              Så när vi skapar webbprojekt så ser vi alltid till att tillgängligheten och användarvänligheten är maximerad oberoende vilket medium man använder.
            </p>
          </div>
        </div>
              <div class=" row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <img src="../img/content-water-final.png" class="img-responsive" alt="content-water-final">
                </div>
              </div>


<!-- FOOTER-->
  <footer class="col-lg-12">
    <div class="container-fluid">
    <h2>Adress</h2>
    <p>Sjumilaskogen 7</p>
    <p>1337 - Stockholm</p>
    <h2>Följ oss</h2>
    <a class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a>
    <a class="btn btn-social-icon btn-lg btn-twitter"><i class="fa fa-twitter"></i></a>
    <a class="btn btn-social-icon btn-lg btn-linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </footer>


    </div> <!-- container col-lg-8 col-sm-12 col-xs-12 -->
<aside class="col-lg-2"></aside> 
<script src="https://use.fontawesome.com/656255a524.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../navjs.js"></script>
</body>
</html>