<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boot</title>
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
    <link href="bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
	  <link rel="icon" href="../img/xlnthead.png">
  </head>

  <body>
    <aside class="col-lg-2"></aside> 
    <div id="containercolor">
    <div class="container">
      <div class="row">
       <div class="col-lg-8 col-sm-12 col-xs-12">
        <h1 class="responsive-h1">Responsiv design!</h1>
          <div class="responsive-div"></div>
            <p class="responsive-p">Vi på XLNT Media vet hur viktigt det är att kunna komma åt information över allt, hur som helst med vad som helst.
              Så när vi skapar webbprojekt så ser vi alltid till att tillgängligheten och användarvänligheten är maximerad oberoende vilket medium man använder.</p>
              <div class=" row">
                <img src="../img/content-water-final.png" class="img-responsive" alt="content-water-final">
              </div>
            </div>
          </div>
        </div>
        
    <footer class="container">
      <h2 class="responsive-h2">Adress</h2>
      <p>Sjumilaskogen 7</p>
      <p>1337 - Stockholm</p>
      <h2 class="responsive-h2">Följ oss</h2>
      <a href="#"><i class="fa fa-facebook-square icon-size" aria-hidden="true"></i></a>
		  <a href="#"><i class="fa fa-twitter-square icon-size" aria-hidden="true"></i></a>
		  <a href="#"><i class="fa fa-linkedin icon-size"></i></a>
    </footer>
    </div>
    <aside class="col-lg-2"></aside> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>