<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="../bootstrap-social-gh-pages/assets/bootstrap-social.css" rel="stylesheet">
	<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/navcss.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/team.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<title>DA TEAM</title>
</head>
<body>
	<!-- NAVBAR -->

	<aside class="col-lg-2" id="hemScroll"></aside>
	<div class="col-lg-8 col-sm-12 col-xs-12">
		<div class="container-fluid" id="navXlnt">

			<nav class="navbar navbar-inverse navbar-fixed-top col-lg-8 col-sm-12 col-xs-12 centernav">

				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="../index.html">  <img id="logoMenu" alt="xlntLogo" src="../img/xlnt-logo-official-new.png"></a>
				</div>

				<div class="collapse navbar-collapse js-navbar-collapse">
					<li class="liBoot"><a href="../index.html#hemScroll">Hem</a></li>
					<li class="liBoot"><a href="../index.html#responsivScroll">Responsiv design</a></li>
					<li class="liBoot"><a href="../index.html#tidigareScroll">Tidigare projekt</a></li>
					<li class="liBoot"><a href="../index.html#teamScroll">Vårat team</a></li>
					<li class="liBoot"><a href="../index.html#kontaktScroll">Kontakta oss</a></li>
					<ul class="dropdown-menu mega-dropdown-menu"></ul>		
					</div><!-- /.nav-collapse -->
					</nav>
				</div> <!--container-fluid -->

				<div class="container-fluid">
					<div class="teampage">
						<!-- SLIDER START -->
						<h1 class="page-h1-black" >XLNT´s Team</h1> 
						<div id="teamorange" class="orange-line"></div><br><br>
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
								<div class="slideshow-container">
									<div class="mySlides">

										<img src="../img/oscar.png" style="width:100%" alt="Oscar Gren">
										<div class="text"></div>
									</div>

									<div class="mySlides">

										<img src="../img/emil.png" style="width:100%" alt="Emil Fjellström">
										<div class="text"></div>
									</div>

									<div class="mySlides">

										<img src="../img/eddie.png" style="width:100%" alt="Eddie Jostell">
										<div class="text"></div>
									</div>

									<div class="mySlides">

										<img src="../img/martin.png" style="width:100%" alt="Martin Blomgren">
										<div class="text"></div>
									</div>

									<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
									<a class="next" onclick="plusSlides(1)">&#10095;</a>
								</div>

								<div class="dotdotdot" style="text-align:center">
									<span class="dot" onclick="currentSlide(1)"></span> 
									<span class="dot" onclick="currentSlide(2)"></span> 
									<span class="dot" onclick="currentSlide(3)"></span> 
									<span class="dot" onclick="currentSlide(4)"></span> 
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-6 col-lg-offset-4 col-sm-6 col-sm-offset-4 col-xs-10 col-xs-offset-2">
								<div class="textContainer">
							<ul class="textList">
								<li><div class="myTextSlide"> <h4> Oscar Gren </h4> <h5>VD</h5> <br> <p class="txtStyle">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella.</p> <br><br>
									<h5> Kompetenser </h5>
									<img class="progIcons" src="../img/icons/HTML.png" alt="HTML-icon"> <img class="progIcons" src="../img/icons/css.png" alt="CSS-icon"> <img class="progIcons" src="../img/icons/js.png" alt="JavaScript-icon">
								</div></li>

								<li><div class="myTextSlide"> <h4> Emil Fjellström</h4> <h5>Utvecklare</h5> <br> <p class="txtStyle">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. </p> <br>
									<h5>Kompetenser</h5>
									<img class="progIcons" src="../img/icons/HTML.png" alt="HTML-icon"> <img class="progIcons" src="../img/icons/css.png" alt="CSS-icon"> <img class="progIcons" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="progIcons" src="../img/icons/php.png" alt="PHP-icon">
								</div></li>

								<li><div class="myTextSlide"> <h4> Eddie Jostell</h4> <h5> Utvecklare/Designer</h5> <br> <p class="txtStyle"> Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. </p> <br>
									<h5> Kompetenser </h5>
									<img class="progIcons" src="../img/icons/HTML.png" alt="HTML-icon"> <img class="progIcons" src="../img/icons/css.png" alt="CSS-icon"> <img class="progIcons" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="progIcons" src="../img/icons/ai.png" alt="Adobe-Illustrator-icon"><img class="progIcons" src="../img/icons/ap.png" alt="Photoshop-icon">
								</div></li>

								<li><div class="myTextSlide"> <h4> Martin Blomgren </h4> <h5>Utvecklare</h5> <br><p class="txtStyle"> Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium.</p> <br>
									<h5> Kompetenser </h5>
									<img class="progIcons" src="../img/icons/HTML.png" alt="HTML-icon"> <img class="progIcons" src="../img/icons/css.png" alt="CSS-icon"> <img class="progIcons" src="../img/icons/js.png" alt="JavaScript-icon"> <img class="progIcons" src="../img/icons/vr.png" alt="VR-icon">
								</div></li>
							</ul>
						</div>
							</div>
						</div>
						
						<!-- SLIDER END -->
					</div>
					<!-- FOOTER-->
					<footer class="col-lg-12">
						<h2>Adress</h2>
						<p>Sjumilaskogen 7</p>
						<p>1337 - Stockholm</p>
						<h2>Följ oss</h2>
						<a class="btn btn-social-icon btn-lg btn-facebook"><i class="fa fa-facebook"></i></a>
						<a class="btn btn-social-icon btn-lg btn-twitter"><i class="fa fa-twitter"></i></a>
						<a class="btn btn-social-icon btn-lg btn-linkedin"><i class="fa fa-linkedin"></i></a>
					</footer>
				</div> <!--container-fluid -->



			</div> <!-- class="col-lg-8 col-sm-12 col-xs-12 -->
			<aside class="col-lg-2"></aside> 
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://use.fontawesome.com/656255a524.js"></script>
			
			<script type="text/javascript" src="../js/team.js"></script>
	</body>
	</html>
